body {
    text-align: center;
    margin: 0;
    font-family: "Nata Sans", sans-serif;
    font-weight: 600;
}
h1 {
    font-weight: 600;
}
.container {
    display: flex;
    height: -webkit-fill-available;
    position: absolute;
    width: -webkit-fill-available;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    flex-direction: column;
}
.brief {
    opacity: 0;
    transition: 5s;
}
.brief, h3, h4 {
font-weight: 400;
}